.eventBlock{
    padding-top: 45px;
}
.eventHeader{
    font-size: 36px;
    color: #000;
    text-align: center;
    margin-bottom: 25px;
}
.styleForList {
    padding: 0;
    text-decoration: none;
    list-style: none;
}